.contact-section
{
    background-color: #B10DC9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer
{
background-color: #B10DC9;
}t
.about-section
{
    background-color: white;
}
.projects-section
{
    padding-bottom: 45px;
}
.more
{
    background-color: #B10DC9;
}